<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>

    <body>
        <div class="message-wrap">
            <div class="message-content">
        <%- include('layouts/navbar'); -%>
            <!-- Page Header-->
            <header>
                <div class="text-center py-5">
                    <h2>Patient Messages</h2>
                </div>
            </header>
            <!-- Main Content-->
            <main class="mb-5 container">
                <h5>Patient messages list:</h5>
                <div class="table-responsive">
                    <table class="table align-middle table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Sl.No.</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% messageList.forEach(function(item,index){ %>
                                <tr>
                                    <td>
                                        <%= index+1 %>
                                    </td>
                                    <td>
                                        <%= item.fname %>
                                            <%= item.lname %>
                                    </td>
                                    <td>
                                        <%= item.email %>
                                    </td>
                                    <td>
                                        <%= item.phone %>
                                    </td>
                                    <td>
                                        <%= item.message %>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </div>
                <% if (messageList.length===0 ) { %>
                    <p>No message found</p>
                    <% } %>
            </main>
        </div>
    </div>
            <%- include('layouts/footer'); -%>
    </body>

</html>